<ion-header>
  <ion-toolbar>
    <ion-title>
      Where is my trash?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <div class="separador"></div>
    <ion-item>
        <ion-img src="../../assets/descarga.jpg"></ion-img>
    </ion-item>

    <div class="separador"></div>
    <section>
      <ion-button [routerLink]="['/basurero']" color="success" expand="block">Administrar basureros</ion-button>
    </section>
<div class="separador"></div>
    <section>
      <ion-button [routerLink]="" color="success" expand="block">Monitorear basureros</ion-button>
    </section>
</ion-content>
